<!DOCTYPE html>
<html>
<head>
  <title>DatabaseAnonymizer</title>
  <%= stylesheet_link_tag    "database_anonymizer/application", media: "all" %>
  <%= javascript_include_tag "database_anonymizer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
